@import '../common/styles/mixins';
@import '../common/styles/variables';

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $background-color;

  .container {
    @include container($justifyContent: space-between);

    a {
      text-decoration: none;
    }

    .logo {
      @include flex($gap: 20px);

      img {
        width: 100px;

        @media (width <= 768px) {
          width: 60px;
        }
      }

      h1 {
        font-size: 0;

        .title {
          width: 210px;
          height: 100px;
          fill: $text-color;

          text {
            font-family: Quantu, sans-serif;
            font-size: 36px;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;

            stroke: $primary-color;
            stroke-width: 1;

            animation: stroke 5s alternate;

            @media (width <= 768px) {
              font-size: 28px;
            }
          }

          @media (width <= 768px) {
            width: 164px;
            height: 60px;
          }
        }
      }

      @media (width <= 768px) {
        gap: 10px;
      }
    }
  }

  .iconsBlock {
    display: flex;
    gap: 20px;

    @media (width <= 768px) {
      gap: 10px;
    }
  }

  @media (width <= 768px) {
    padding-top: 10px;
    padding-bottom: 10px;

    & * {
      z-index: 20;
    }
  }
}

@keyframes stroke {
  0% {
    fill: rgb(255 255 255 / 0%);
    stroke: rgb(224 136 33 / 100%);
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 25%;
    stroke-width: 2;
  }

  70% {
    fill: rgb(255 255 255 / 0%);
    stroke: rgb(224 136 33 / 100%);
  }

  80% {
    fill: rgb(255 255 255 / 0%);
    stroke: rgb(224 136 33 / 100%);
    stroke-width: 3;
  }

  100% {
    fill: rgb(255 255 255 / 100%);
    stroke: rgb(224 136 33 / 100%);
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -25%;
    stroke-width: 1;
  }
}
