@import '../common/styles/mixins';
@import '../common/styles/variables';

.container {
  @include container;

  flex-direction: column;
  gap: 42px;

  .title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  .content {
    display: flex;
    gap: 40px;

    .galleryWrapper {
      flex-shrink: 0;
      width: 40%;

      & > * {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;

        a {
          @include flex;

          width: calc((100% / 3) - (20px / 3));

          &:nth-child(1) {
            width: 100%;
          }
        }

        img {
          display: block;
          width: 100%;
          border: 1px solid $primaryColor;
          border-radius: 5px;
        }
      }
    }
  }

  .text {
    @include flex(
      $direction: column,
      $justifyContent: flex-start,
      $alignItems: flex-start,
      $gap: 10px
    );

    position: relative;

    .price {
      font-size: 36px;
      font-weight: 700;
    }

    .condition {
      font-size: 22px;
      font-style: italic;
    }

    .description {
      margin-top: 40px;
      font-size: 26px;
    }

    .button {
      @include button;

      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@keyframes shine {
  0% {
    left: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}
