@import '../common/styles/mixins';
@import '../common/styles/variables';

.container {
  @include container;

  flex-direction: column;
  gap: 40px;

  .title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  .content {
    display: flex;
    gap: 40px;

    .galleryWrapper {
      width: 40%;

      & > * {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        img {
          display: block;
          width: 100%;
          border: 1px solid $primaryColor;
          border-radius: 5px;
        }
      }
    }
  }

  .text {
    .price {
      font-size: 32px;
    }
  }
}
