@import '../common/styles/mixins';
@import '../common/styles/variables';

.container {
  @include container;

  position: relative;
  flex-direction: column;
  gap: 40px;

  .title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;

    @media (width <= 768px) {
      font-size: 32px;
    }
  }

  .content {
    display: flex;
    gap: 40px;

    .galleryWrapper {
      flex-shrink: 0;
      width: 40%;

      & > * {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;

        a {
          @include flex;

          width: calc((100% / 3) - (20px / 3));

          &:nth-child(1) {
            width: 100%;
          }
        }

        img {
          display: block;
          width: 100%;
          border: 1px solid $primary-color;
          border-radius: 5px;
        }
      }

      @media (width <= 768px) {
        width: 100%;
      }
    }

    @media (width <= 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  .text {
    @include flex(
      $direction: column,
      $justifyContent: flex-start,
      $alignItems: flex-start,
      $gap: 10px
    );

    position: relative;

    .price {
      font-size: 36px;
      font-weight: 700;

      @media (width <= 768px) {
        max-width: 50%;
        font-size: 30px;
      }
    }

    .valueTitle {
      font-size: 22px;

      @media (width <= 768px) {
        font-size: 20px;
      }
    }

    .value {
      @extend .valueTitle;

      font-style: italic;
    }

    .description {
      margin-top: 40px;
      font-size: 26px;
      text-align: justify;
      text-indent: 6%;

      @media (width <= 768px) {
        margin-top: 10px;
        font-size: 24px;
      }
    }

    .button {
      @include button;

      position: absolute;
      top: 0;
      right: 0;
    }

    @media (width <= 768px) {
      gap: 6px;
    }
  }

  .note {
    font-size: 20px;
    text-align: justify;

    .telegramLink {
      font-weight: 700;
      color: $primary-color;
      text-decoration: underline;
      transition: 0.2s ease-in;

      @media (hover: hover) {
        &:hover {
          color: $text-color;
        }
      }

      @media (hover: none) {
        &:active {
          color: $text-color;
        }
      }
    }
  }

  @media (width <= 768px) {
    gap: 20px;
  }
}
