@import '../../common/styles/variables';

.button {
  cursor: pointer;

  position: absolute;
  top: -40px;
  left: 0;

  display: flex;
  gap: 6px;
  align-items: center;

  font-size: 20px;
  font-weight: 700;

  background-color: unset;
  border: none;

  .icon {
    width: 40px;
    height: 40px;

    @media (width <= 768px) {
      width: 30px;
      height: 30px;
    }
  }

  .text {
    @media (width <= 768px) {
      display: none;
    }
  }

  &:hover * {
    color: $primary-color;
    stroke: $primary-color;
  }

  @media (width <= 768px) {
    top: -10px;
    left: 10px;
  }
}
