@import '../common/styles/mixins';
@import '../common/styles/variables';

.container {
  @include container;
  @include flex($gap: 30px);

  a {
    position: relative;
    text-decoration: none;
  }

  .paragraph {
    font-size: 24px;
    text-align: center;

    .telegramLink {
      font-weight: 700;
      color: $primary-color;
      text-decoration: underline;
      transition: 0.2s ease-in;

      @media (hover: hover) {
        &:hover {
          color: $text-color;
        }
      }

      @media (hover: none) {
        &:active {
          color: $text-color;
        }
      }
    }

    @media (width <= 768px) {
      font-size: 20px;
    }
  }

  .button {
    @include button;
  }

  @media (width <= 768px) {
    gap: 20px;
  }
}
