@import '../common/styles/mixins';

.container {
  @include container;

  justify-content: center;

  .paragraph {
    font-size: 24px;
    text-align: center;

    .header {
      font-size: 28px;

      @media (width <= 768px) {
        font-size: 24px;
      }
    }

    .list {
      @include flex($gap: 10px);

      flex-direction: column;
      margin-top: 20px;
      font-weight: 700;
      list-style-type: none;

      & > ::before {
        content: '';

        display: inline-block;

        width: 20px;
        height: 20px;
        margin-right: 12px;
        margin-bottom: -2px;

        background-image: url('../assets/images/chip-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media (width <= 768px) {
          margin-right: 10px;
          margin-bottom: -4px;
        }
      }

      .price {
        font-style: italic;
      }
    }

    .details {
      display: block;
      margin-top: 20px;
    }

    @media (width <= 768px) {
      font-size: 20px;
    }
  }
}
