@import '../../common/styles/mixins';

.container {
  @include container($justifyContent: center);

  flex-direction: column;
  gap: 40px;

  .title {
    font-size: 42px;
    font-weight: 700;
  }

  .posts {
    @include flex($gap: 60px);
  }
}
