@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';

.post {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  width: calc(50% - 30px);
  padding: 30px;

  border: 1px solid $text-color;
  border-radius: $border-radius;

  .image {
    @include flex;

    flex-shrink: 0;

    width: 100%;
    min-height: 300px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border-radius: $border-radius;

    transition: 0.3s;
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

    @media (width <= 768px) {
      font-size: 28px;
    }
  }

  .price {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: red;

    @media (width <= 768px) {
      font-size: 22px;
    }
  }

  a {
    position: absolute;
    inset: 0;
    display: block;
  }

  @media (hover: hover) {
    &:hover {
      & .image {
        background-size: 110% auto;
        border: 2px solid $primary-color;
      }

      & .title {
        color: $primary-color;
      }
    }
  }

  @media (hover: none) {
    &:active {
      & .image {
        background-size: 110% auto;
        border: 2px solid $primary-color;
      }

      & .title {
        color: $primary-color;
      }
    }
  }

  @media (width <= 1200px) {
    width: calc(50% - 20px);
  }

  @media (width <= 768px) {
    width: 100%;
    padding: 20px;
  }
}
