@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';

.post {
  display: flex;
  gap: 30px;

  padding: 30px;

  border: 1px solid $text-color;
  border-radius: $border-radius;

  .image {
    @include flex;

    flex-shrink: 0;

    width: 30%;
    min-height: 200px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border-radius: $border-radius;

    transition: 0.3s;

    &:hover {
      background-size: 120% auto;
      border: 2px solid $primary-color;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  .price {
    display: block;
    font-size: 22px;
    font-weight: 700;
  }

  .condition {
    font-size: 16px;
    font-style: italic;
  }

  .description {
    margin-top: 10px;
    font-size: 20px;
  }
}
