@import './common/styles/variables';

@font-face {
  font-family: Quantu;
  font-weight: 700;
  src: url('./assets/fonts/quantu1t.woff2') format('woff2');
}

@font-face {
  font-family: 'Vera Humana';
  src: url('./assets/fonts/verah.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Vera Humana', sans-serif;
  color: $textColor;

  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}
