@import '../common/styles/variables';
@import '../common/styles/mixins';

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $background-color;

  .container {
    @include container;

    flex-direction: column;
  }
}
